@import url(~@fortawesome/fontawesome-free/css/solid.min.css);
@import url(~@fortawesome/fontawesome-free/css/regular.min.css);
@import url(~@fortawesome/fontawesome-free/css/fontawesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100, 200, 300,400,600");
html,
body,
#root {
  height: 100%; }

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px; }
  * a.animate {
    color: #909090 !important;
    transition: border-bottom-color 0.3s linear; }
    * a.animate:hover {
      transition: border-bottom-color 0.3s linear;
      border-bottom: 1px solid #FACC02;
      text-decoration: none !important; }
  *:focus {
    outline: 0; }
  * .bold {
    font-weight: 600; }
  * h2 {
    font-size: 2rem; }
  * .example-appear {
    opacity: 0.01; }
  * .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in; }
  * .example-enter {
    opacity: 0.01; }
  * .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in; }
  * .example-leave {
    opacity: 1; }
  * .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 100ms ease-in; }
  * .error {
    padding: 1rem 2rem;
    background-color: #E61A7A;
    color: #fff;
    text-align: center;
    width: 15rem;
    margin: 0 auto; }

.error-container {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .error-container i {
    color: #E61A7A;
    margin: 4rem auto 2rem auto;
    font-size: 6rem; }
  .error-container__inner {
    color: #fff;
    padding: 1rem 1rem 0.5rem; }
